@font-face {
  font-family:"PT Sans";
  font-style:normal;
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;

}

body {
  display:flex;
  flex-direction: column;
  min-height:100%;
  margin: 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0 );
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;

}
.container {
  width:100%;
  max-width: 1060px;
  padding: 0;
  margin: 0 auto;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  background-color: #756157;
  border:none;
  margin:0;
  padding: 0;

}


.filter-submit-button {
  background-color: #82B3D3;
}

.filter-submit-button-reset {
  background-color: transparent;
}

.favorite-button {
  background-color: #82B3D3;
}

.favorite-button-green {
  background-color: #7DB54F;
}

 /* Pages */

.main-header{
  color: #000000;
  background: #ffffff;
}
.navigation {
  display:flex;
  margin: 0 auto;

}
.logo {
  display: flex;
  width:140px;
  margin-right: 28px;


}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-grow: 1;

}

.nav-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration:none;
  color: inherit;
}


.nav-actions {
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  list-style: none;

}

.nav-actions-link {
  display:block;
  min-width: 44px;
  padding: 22px 12px;
  margin: 0;
  text-decoration: none;
  color: inherit;
}


.button-sm {
  display: block;
  min-width: 160px;
  margin: 14px 0 20px;
  padding: 8px 34px;
  text-decoration:none;
}

.main-container {
  flex-grow: 1;

}
.main-index{
  color:#000000;
  background-color: #ffffff;
}

.hero {
  padding: 51px;
  padding-bottom: 82px;
  text-align:center;
  background-color: #f2f2f2;
  background-image: url("../images/index-background.jpg");
  background-repeat:no-repeat;
  background-size: 100% auto;

}

.welcome-img {
  display:block;
  margin: 0 auto;

}

.advantages-header {
  margin:0 auto;
  padding-top: 69px;
  padding-bottom:69px;
  text-align: center;
  background-color: #ffffff;

}
.subtitle-h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.subtitle-advantages {
  width: 620px;
  margin:0 auto;
  margin-bottom: 25px;

}

.subtitle-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;

}
.description-advantages {
  width: 651px;
  margin: 0 auto;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding-left: 0;
  list-style-type: none;

}

.advantages-item {
  display: flex;
  width: 400px;
  min-height: 385px;
  text-align:center;
  background-color: #82B3D3;
}

.advantages-item-wide {
  display: flex;
  flex-basis: 100%;
  max-width: 100%;
  background-color: #82B3D3;
}


.advantages-card {
  display:flex;
  flex-direction: column;
  padding: 113px 85px;


}

.advantages-card-title {
  margin-top: 0;
  margin-bottom: 62px;
  font-size:24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

}

.advantages-card-title-white {
  font-size:24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

}
.advantages-card-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

}

.advantages-card-description-white {
  color: #ffffff;
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.12);

}
.advantages-item-transparent {
  background-color: rgba(131, 179, 211, 0.2);

}

.recommends-header {
  padding-top:64px;
  padding-bottom:64px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;

}
.subtitle-recommends {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;


}
.description-recommends {
  width: 490px;
  margin: 0 auto;
}

.recommends-list {
  display:flex;
  flex-wrap: wrap;
  margin:0;
  padding:0;
  text-align:center;
  list-style-type: none;

}
.recommends-item {
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  flex-basis: 400px;
  min-height: 385px;
  padding: 81px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}
.recommends-item-burger {
  background-color: #ffffff;
}
.recommends-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}
.recommends-item-burger:nth-last-child(even) {
  background-color: #ffffff;
}

.recommends-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}


.recommends-text {
  width: 230px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

}
.search {
  padding: 96px 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;

}
.subtitle-search {
  margin: 0 auto;
  margin-bottom: 20px;


}
.description-search {
  margin: 0 auto;
  margin-bottom:54px;
}

.button-search-hotel {
  display: block;
  margin: 0 auto;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;

}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat:no-repeat;
  background-size: 100% auto;
  color: #ffffff;

}
.subscribe-secondary {
  background-image: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.subtitle-h3 {
  margin:0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

}

.subscribe-text {
  margin:0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

}
.field {
  padding: 14px 345px 14px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400px;

}

.subscribe-form .button {
  display:block;
  width: 232px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.page-footer {

  margin:0 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  color:#000000;
  background-color: #ffffff;
}
.page-footer .container {
  display:flex;
  justify-content: space-between;

}

.social-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding:0;
  margin: 0;
  list-style-type: none;
}

.social-link  {
  display:block;
  width: 48px;
  height: 40px;
  padding: 13px 6px;
  margin:0;
  text-decoration: none;

}

.about-phone {
  display: block;
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

}

.footer-copyright {
  display: block;
  padding: 0;
  margin: 0;

}

.page-footer a {
  text-decoration: none;
  color: #000000;
}

.inner-header {
  padding: 35px 0 70px;
  margin: 0 auto;
  margin-bottom:50px;
  background-color: #f2f2f2;
  background-image: url("../images/background-catalog.jpg");
  background-repeat:no-repeat;
  background-size: 100% auto;


}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap ;
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #ffffff;
}

.breadcrumbs-link {
  margin-right: 28px;
  text-decoration: none;
  color: inherit;
}

.filter {
  display:flex;
}
.filter-group {
  display: flex;
  justify-content: space-between;
  padding: 0;
  min-width:150.43px;
  min-height: 157px;
  margin: 0;
  margin-right: 70px;
}

.filter-list {
  list-style-type: none;
}
.filter-group-secondary {
  display: flex;
  justify-content: space-between;
  margin-right: 140.15px;
}

.catalog-filter-group  {
  display: flex;
  width: 288px;
  margin: 0;
}
.filter-title-h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}
.filter-range-control {
  width: 288px;
  height: 48px;
}
.checkbox-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
   color: #ffffff;
}

.radio-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;

}
.catalog-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin:0;
  margin-bottom: 40px;
  color:#333333;
  background-color: #ffffff;
  gap: 70px;
}
.catalog-title {
  flex-grow: 1;
  margin: 0;
  padding:6.5px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
}

.sorting-container {
  display: flex;


}
.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 14px 100px 14px 20px;
}
.sorting-container .button {
  display: block;
  width: 48px;
  height: 48px;
  margin-right:8px;
  padding: 17px 16px;
}
.sorting-container .button:last-child {
  margin-right: 0;
}
.catalog-list {
  display:grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin-bottom: 40px;
  background-color: #ffffff;
  list-style-type: none;

}

.product-card {
  display: flex;
  flex-direction:column;
  padding: 20px;
  margin: 0;
  background-color: #ffffff;

}
.card-img {
  object-fit: contain;
}
.product-card-link {
  text-decoration: none;

}

.card-title {
  margin: 16px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;

}

.product-card-text {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
}

.hotel-rating {
  width:140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color:  #f2f2f2;
}

.pagination {
  display:flex;
  flex-wrap: wrap;
  margin: 0;

  padding:40px 0 60px;
  list-style-type: none;
  text-align: center;
  gap: 8px;

}

.pagination-link {
  display:block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding-top: 12px;
  padding-bottom: 13px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;

}

.pagination-current {
 color: #000000;
 background-color: #f2f2f2;
}
.pagination-link-clear {
  color: #000000;
  background-color: #ffffff;
}
