@font-face {
  font-family:"PT Sans";
  font-style:normal;
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}
html {
  height: 100%;

}

body {
  display:flex;
  flex-direction: column;
  min-height:100%;
  margin: 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;

}
.page-container {
  margin: 0 auto;
  width: 1200px;

}

.button {
  width:140px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  background-color: #756157;
  border:none;

}
.button-search-hotel {
  font-size: 20px;
  line-height: 36px;

}
.subsribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.btn-want-here {
  text-decoration:none;

}
.filter-submit-button {
  background-color: #82B3D3;
}

.filter-submit-button-reset {
  background-color: transparent;
}

.favorite-button {
  background-color: #82B3D3;
}

.favorite-button-green {
  background-color: #7DB54F;
}

 /* Pages */

.main-header{
  color: #000000;
  background: #ffffff;
}
.navigation {
  display:flex;
  width:1200px;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;


}
.logo {
  width:140px;
  margin-right: 28px;



}
.nav-list {
  width: 400px;
  margin: 0;
  padding: 0;

}

.nav-actions {
  width: 300px;
  margin-left: auto;

}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration:none;
  color: inherit;
}
.nav-actions-link {
  text-decoration: none;
  color: inherit;
}
.main-container {
  flex-grow: 1;
}
.main-index{
  color:#000000;
  background-color: #ffffff;
}


.hero {
  padding: 51px 10px;
  padding-bottom: 82px;
  text-align:center;
  background-image: url("../images/index-background.jpg");
  background-color: #f2f2f2;
  background-repeat:no-repeat;
  background-size: 100% auto;

}

.welcome-img {
  display:block;
  margin: 0 auto;
  text-align: center;


}

.advantages-header {
  margin:0 auto;
  padding-top: 69px;
  padding-bottom:69px;
  background-color: #ffffff;

}
.subtitle-h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.subtitle-advantages {
  width:620px;
  margin:0 auto;
  margin-bottom: 25px;

}

.subtitle-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;

}
.description-advantages {
  width: 651px;
  margin:0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align:center;

}

.advantages-item {
  width: 400px;
  background-color: #82B3D3;
}
.advantages-item-wide {
  width: 1200px;
}



.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.12);

}
.advantages-item-transparent {
  background-color: rgba(131, 179, 211, 0.2);

}

.advantages-card-title {
  font-size:24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-card-title-white {
  font-size:24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

}

.advantages-card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

}
.advantages-card-description-white {
  color: #ffffff;
}
.recommends-header {
  padding-top:64px;
  padding-bottom:64px;
  margin: 0 auto;
  background-color: #ffffff;

}
.subtitle-recommends {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;

}
.description-recommends {
  width: 490px;
  margin: 0 auto;
}

.recommends-list {
  display:flex;
  margin:0;
  padding:0;
  justify-content: space-between;
  text-align:center;
}

.recommends-item {
  width:400px;
  padding: 81px 85px;
  margin: 0 auto;
  background-color: rgba(131, 179, 211, 0.12);
}
.recommends-item-burger {
  background-color: #ffffff;
}

.recommends-title {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.recommends-text {
  width: 230px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;

}
.search {
  padding: 96px;
  margin: 0 auto;
  background-color: #ffffff;

}
.subtitle-search {
  width: 297px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;


}
.description-search {
  width: 592px;
  margin: 0 auto;
  margin-bottom:54px;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat:no-repeat;
  background-size: 100% auto;
  background-color: #f2f2f2;

}

.subtitle-h3 {
  width: 684px;
  margin:0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-text {
  width: 475px;
  margin:0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color:#ffffff;

}
.subscribe-form {
  width: 452px;
  padding:
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

}

.page-footer {
  display:flex;
  padding: 40px, 70px, 30px;
  margin:0 auto;
  color:#000000;
  background-color: #ffffff;
}


.social-link  {
  width: 142px;
  margin-right: 0;
  text-decoration: none;
  color: #83B3D3;
}

.contacts a {
  text-decoration: none;
  color: #000000;
}

.about-phone {
  width: 720px;
  margin-right: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.inner-header {
  padding: 35px 70px 70px;
  margin: 0 auto;
  background-image: url("../images/background-catalog.jpg");
  background-color: #f2f2f2;
  background-repeat:no-repeat;
  background-size: 100% auto;


}

.inner-header-title {
  width: ;
  margin: 0 auto;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {

  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter {




}


.filter-group {
  display: flex;
  flex-direction: row;


}

.catalog-filter-group  {
  width: 288px;
  margin
}
.filter-title-h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}
filter-list {

}


.checkbox-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
   color: #ffffff;
}

.radio-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;

}

.catalog-filter-submit {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 50px 70px 60px;
  margin: 0 auto;
  background-color: #ffffff;

}

.catalog-title {
  width:338px;


  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
}

.sorting-container {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#333333;
  background-color: #ffffff;

}

.product-card {
  width: 340px;
  margin: 0 auto;
  background-color: #ffffff;

}

.product-card-link {
  text-decoration: none;

}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;

}

.product-card-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
}

.hotel-rating {
  width:140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color:  #f2f2f2;
}

.pagination {
  display:flex;
  justify-content: start;
  margin: 0 auto;
  background-color: #ffffff;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;
  background-color:  #f2f2f2;

}

.pagination-link-empty {
  background-color: #ffffff;
}
